@{
    ViewBag.Title = "Home Page";
}
<div>
    @Html.ActionLink("Sign Up", "Create", "tblUsers")<br />
</div>
<div class="jumbotron">
    <div class="row-md-4">
        <a href="~/Login.aspx">Login</a>
    </div>
</div>
